@model Domain.User

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/signin.css" />
@if (ViewBag.ShowFloatingLabels)
{
    <link rel="stylesheet" href="~/css/floating-labels.css" />
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>

<form class="form-signin" action="login" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    <div class="relative">
        <div class="form-label-group">
            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", type = "text", id = "username", required = true, autofocus = true })
            @if (ViewBag.ShowFloatingLabels)
            {
                <label for="username" class="opacity" id="usernameLabel">Username</label>
            }
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-label-group">
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", type = "password", id = "password", required = true })
            @if (ViewBag.ShowFloatingLabels)
            {
                <label for="password" class="opacity" id="passwordLabel">Password</label>
            }
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div style="color:darkgrey">
            <i class="fas fa-user fa-lg icon1"></i>
            <i class="fas fa-lock fa-lg icon2"></i>
        </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button><br />

    <a asp-controller="Home" asp-action="Register">Don't have an account? Create one here</a>
</form>

@if (ViewBag.ShowFloatingLabels)
{
    <script src="~/js/floating-labels.js"></script>
}