@{
    ViewData["Title"] = "About";
}
<h1 class="h2">@ViewData["Title"]</h1>

<p>This blog-system was developed and created by Mikael Karlgren with the ASP.NET Core framework, using Entity Framework Core and MVC Core. 
    The icons used are from <a href="https://fontawesome.com/">FontAwesome</a>'s free vector icon pack.</p>
<p>The source code of this project can be found at <a href="https://github.com/kocken/EF_Mikael_Karlgren_Blog"><i class="fab fa-github fa-lg"></i> GitHub</a>.</p>