@model Domain.User

@{
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/signin.css" />

<form class="form-signin" action="/Home/UserLogin">
    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username", required = true, autofocus = true })
    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password", required = true })<br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button><br />

    <a asp-area="Register" asp-controller="Home" asp-action="Register">Don't have an account? Create one here</a>
</form>