body {
    padding-top: 85px;
    padding-bottom: 85px;
    -ms-overflow-style: none; /* IE 10+ */
    overflow: hidden; /* Firefox */
    overflow-y: scroll;
}

    body::-webkit-scrollbar {
        display: none; /* Safari and Chrome */
    }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar {
    font-size: large;
}

    .navbar-brand {
        font-size: xx-large;
    }

input[type]:focus, textarea:focus {
    box-shadow: 0 0 4px rgba(0, 150, 255, 1);
    border: 1px solid rgba(0, 150, 255, 1);
}

.thread {
    padding: 10px;
    border-radius: 5px;
}

    .thread h2 {
        font-weight: bold;
        font-size: 34px;
    }

    .thread h3 {
        font-weight: bold;
        font-size: 22px;
    }

    .thread .creation {
        color: grey;
    }

    .thread .message {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    }

    .thread .comment {
        padding-left: 20px;
    }